---
import Button from "../common/Button.astro";
---

<section class="hero">
  <div class="container hero__inner">
    <div class="hero__content hero-anim-left">
      <div class="hero__rating">
        <span class="hero__stars">★★★★★</span>
        <strong>Trusted by 1,000+ clients</strong>
      </div>

      <h1>Justice Driven by Experience</h1>

      <p>
        Navigating complex legal challenges with strategic precision and
        unwavering advocacy.
        <br />
        We protect your rights, your family, and your future.
      </p>

      <div class="hero__actions">
        <div>
          <a class="hero-practice-view-btn" href="/contact/contact_1">
            Free Consultation <span>→</span>
          </a>
        </div>
        <div>
          <a href="#" class="video-btn">
            <span class="video-btn__icon">▶</span>
            <span class="name">Watch Video</span>
          </a>
        </div>
      </div>
    </div>

    <div class="hero__image hero-anim-right">
      <img id="hero-image" src="https://picsum.photos/700/800" alt="Lawyer" />
    </div>
  </div>
</section>

<script>
  const image = document.getElementById("hero-image");

  setInterval(() => {
    image.src = `https://picsum.photos/700/800?random=${Date.now()}`;
  }, 3000); // change every 3 seconds
</script>
