---
import {
  Building2,
  Handshake,
  UserRoundCheck,
  Home,
  UserCog,
  Landmark,
} from "lucide-react";
const isHomePage = Astro.url.pathname === "/";
const areas = [
  {
    number: "01",
    slug: "corporate-and-business-law",
    title: "Corporate & Business Law",
    text: "Navigating the complexities of entity formation, contract negotiations, and regulatory compliance to protect your commercial interests.",
    icon: Building2,
  },
  {
    number: "02",
    slug: "family-law-and-mediation",
    title: "Family Law & Mediation",
    text: "Providing compassionate yet firm representation for divorce, child custody, and asset division during life’s most difficult transitions.",
    icon: Handshake,
  },
  {
    number: "03",
    slug: "personal-injury-litigation",
    title: "Personal Injury Litigation",
    text: "Fighting for the compensation you deserve following accidents, ensuring that insurance companies and negligent parties are held accountable.",
    icon: UserRoundCheck,
  },
  {
    number: "04",
    slug: "estate-planning-and-probate",
    title: "Estate Planning & Probate",
    text: "Securing your legacy through meticulous drafting of wills, trusts, and comprehensive wealth preservation strategies.",
    icon: Home,
  },
  {
    number: "05",
    slug: "criminal-defense",
    title: "Criminal Defense",
    text: "Protecting your constitutional rights and your freedom with an aggressive, detail-oriented defense against state and federal charges.",
    icon: UserCog,
  },
  {
    number: "06",
    slug: "real-estate-law",
    title: "Real Estate Law",
    text: "Facilitating seamless transactions and resolving complex disputes for residential and commercial property owners and developers.",
    icon: Landmark,
  },
];
---

<section class="practice-section">
  <div class="container">
    <div class="practice-head">
      <div>
        <p class="section-kicker">What We Do</p>
        <h2>Practice Areas</h2>
      </div>

     {
  isHomePage && (
    <a href="/practice-areas" class="practice-view-btn btn-fill-hover">
      View More <span>→</span>
    </a>
  )
}
    </div>

    <div class="practice-grid">
      {areas.map((area) => {
        const Icon = area.icon;

        return (
          <article class="practice-card">
          <div class="practice-number">  <h2>{area.number}</h2> </div>

            <div class="practice-icon">
              <Icon size={36} strokeWidth={2.7} />
            </div>

            <div class="practice-content">
              <h3>{area.title}</h3>
              <p>{area.text}</p>

              <a href={`/practice-areas/${area.slug}`} class="practice-btn">
                Read More <span>→</span>
              </a>
            </div>
          </article>
        );
      })}
    </div>
  </div>
</section>