---
// src/layouts/MainLayout.astro
import "../styles/global.css";

const { title = "Civitas Law" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic|Cabin:regular,500,600,700,italic,500italic,600italic,700italic|Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&amp;subset=latin,latin-ext&amp;display=swap" media="all">    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{title}</title>
  </head>

  <body>
    <slot />

    <script>
      const items = document.querySelectorAll("[data-reveal]");

      const observer = new IntersectionObserver(
        entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              entry.target.classList.add("is-visible");
              observer.unobserve(entry.target);
            }
          });
        },
        { threshold: 0.15 }
      );

      items.forEach(item => observer.observe(item));
    </script>
  </body>
</html>