<div class="topbar__left">
  <span>☎ +01 23456789</span>
  <span>✉ contact@example.com</span>
</div>

<div class="topbar__right">
  <a href="#">f</a>
  <a href="#">◎</a>
  <a href="#">in</a>
  <a href="#">☏</a>
</div>